@font-face {
    font-family: 'MontserratBold';
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratLight';
    src: url('./assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BitterExtaBold';
    src: url('./assets/fonts/Bitter-ExtraBold.ttf') format('truetype');
}

h3{
    font-family: 'BitterExtaBold';
    font-size: 20px;
    color: #a6a6a6;
}

.container_principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container_header {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: 25px;
}

.container_titulo_text{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0px 60px;
    margin-top: 30px;
    background: rgb(105,0,196);
    background: linear-gradient(73deg, rgba(105,0,196,1) 41%, rgba(223,0,202,1) 83%, rgba(149,0,255,1) 100%);
}

.titulo{
    font-family: 'BitterExtaBold';
    font-size: 95px;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #747272,  
               1px -1px 0 #747272,
              -1px 1px 0 #747272,
               1px 1px 0 #747272;
}

.container_busqueda{
    background: #e5e5e5;
    padding: 50px 120px;
    margin-top: 70px;
    border-radius: 5px;
}

.form_busqueda{
    display: flex;
}

.input_busqueda{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 72%;
}

.select_busqueda {
    margin-right: 15px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    width: 20%;
    -webkit-appearance: none; /* Para Safari/Chrome */
      -moz-appearance: none; /* Para Firefox */
      appearance: none;
      background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /></svg>'); /* Cambia la URL a la imagen de tu flecha personalizada */
      background-repeat: no-repeat;
      background-position: right 10px top 50%; /* Agrega margen a la derecha */
}

.container_listado{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 25px;
}

.container_tarjeta{
    border: 1px solid #e2dcdc;
    border-radius: 5px;
    height: 500px;
}
.container_image_tajeta{
    height: 40%;
    background-color: #e5e5e5;
}

.container_tarjeta:hover{
    background: linear-gradient(to bottom right, #8a2be2, #ff69b4, #ffa500);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.autor_entrada{
    font-family: 'MontserratRegular';
    font-size: 15px;
}

.continer_cuerpo_tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenido{
    width: 85%;
    margin-top: 20px;
}

.link-vermas{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.link-vermas:hover{
    color: white;
}

.infoContainer p {
    font-family: 'MontserratLight';
    font-size: 19px;
}
.footer-card-base{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 8px;
    background: rgb(105,0,196);
    background: linear-gradient(to bottom right, #8a2be2, #ff69b4, #ffa500);
}

.footer-card-hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 8px;
    background: white;
}

.footer-card-hover p {
    font-family: 'MontserratBold';
    font-size: 15px;
    color: rgb(165, 157, 157);
    margin: 0px;
}

.footer-card-base p{
    font-family: 'MontserratBold';
    font-size: 15px;
    color: white;
    margin: 0px;
}

.container_entrada {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
    margin-top: 10px;
    border-radius: 8px;
    padding: 30px 60px;
    background: rgb(196,0,0);
    background: linear-gradient(73deg, rgba(196,0,0,1) 1%, rgba(223,0,202,1) 47%, rgba(255,74,0,1) 100%);
}

.container_imagen {
    display: flex;
    height: 100%;
    border-radius: 4px;
    align-items: center;
}

.tituloDetail {
    color: white
}

.autorDetail {
    font-family: 'MontserratLight';
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}

.contenidoDetail {
    font-family: 'MontserratBold';
    font-size: 25px;
    margin-bottom: 30px;
    color: white;
}

.fechaDetail {
    text-align: right;
    color: white;
    font-family: 'MontserratLight'; 
}

.container_back{
    margin-top: 80px;
    margin-bottom: 20px;
}

.container_formulario{
    width: 60%;
    margin: 0 auto;
}

.formulario_entrada {
    display: grid;
    grid-template-columns: 100%;
}

.input_titulo, .input_autor, .input_contenido{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(97, 32, 158);
    color: black;
    font-size: 1.2rem;
    outline: none;
    padding: 10px 15px;
    margin: 7px auto;
    width: 90%;
    
}

.input_contenido{
    height: 100px;
}

.input_titulo:focus, .input_autor:focus, .input_contenido:focus {
    box-shadow: 0 0 5px rgba(138, 43, 226, 0.8); /* Agrega una sombra cuando está en foco */
}

.button_crear{
    width: fit-content;
    height: 50px;
    margin: 10px auto;
    background-color: #b51e97;
    border-radius: 5px;
    padding: 5px 30px;
    border: 1px solid rgb(224, 217, 217);
    transition: background-color 0.03s, transform 0.3s; 
}

.button_crear:hover{
    background: linear-gradient(73deg, rgba(196,0,0,1) 1%, rgba(223,0,202,1) 47%, rgba(255,74,0,1) 100%);
    transform: scale(1.1);
}
.button_crear p {
    color: white;
    font-family: 'MontserratBold';
    font-size: 18px;
    margin: 0 auto;
}

.container_errores{
    border-radius: 8px;
    background-color: #f7b2b2;
    width: 90%;
    margin: 0 auto;
    padding: 5px 0px;
}

.montrar_errores {
    visibility:visible;
}
.ocultar_errores{
    display: none;
}

.container_li{
    margin: 15px auto;
}
.item_error{
    font-family: 'MontserratRegular';
    font-size: 15px;
    color:rgb(174, 0, 0);
}

.btn_nva_entrada{
    width: 100%;
    background-color: #b51e97;
    color: white;
    margin-top: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    text-align: center;
    font-family: "MontserratBold";
}

.btn_nva_entrada:hover{
    background: linear-gradient(73deg, rgba(196,0,0,1) 1%, rgba(223,0,202,1) 47%, rgba(255,74,0,1) 100%);
    transform: scale(0.98);
}

.link_nva_entrada{
    text-decoration: none;
}

/* Celulares */
@media only screen and (max-width: 767px) {
    .form_busqueda{
        display: grid;
    }
    .select_busqueda, .input_busqueda  {
        width: 100%;
    }
    .select_busqueda{
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .container_busqueda {
        padding: 35px 30px;
        margin-top: 30px;
    }
    .titulo{
        font-size: 55px;
    }
    .container_titulo_text{
        height: 35px;
    }
    .container_listado{
        grid-template-columns: repeat(1, 1fr);
    }
    .container_entrada{
        grid-template-columns: 100%;
        margin-top: 30px;
        padding: 30px 40px;
    }
    .container_formulario {
        width: 100%;
    }
}